* {
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif; 
  }
  
  .navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    top: 0;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    font-size: 40px;
    color: #AA14F0;
  }

  .logo-name{
    color: #AA14F0;
    padding: 0 100px;
  }

  .search{
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    padding: 100px;
  }
  
  .search input{
    padding: 3px 0 3px 8px;
    border-radius: 20px;
    outline: none;
    border: 1px outset #AA14F0;
    color: #fff;
    width: 200px;
    background: transparent;
  }

  .search i{
    color: rgb(255,255,255,0.7);
    padding: 10px;
    cursor: pointer;
    transition: 0.4s linear;
  }

  .search i:hover{
    color: #AA14F0;
  }

 .search_bx{
    width: 200px;
    height: 300px;
    border: 1px solid #fff;
    position: absolute;
    top: 50px;
    right: 475px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    z-index: 9;
    overflow: scroll;
    display: none;
  }

 .search_bx a img{
  width: 45px;
  height: 30px;
  border-radius: 5px;
  margin: 0 5px;
  }

 .search_bx a{
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    transition: 0.3s linear;
    overflow: auto;
  }

 .search_bx ::-webkit-scrollbar{
    width: 7px;
    background: rgba(79, 79, 79, 0.3);
    border-radius: 20px;
  }

 .search_bx ::-webkit-scrollbar-thumb{
    background: rgba(140, 140, 140, 0.7);
    border-radius: 20px;
  }

 .search_bx a:hover{
    background: rgb(184,184,184,0.6);
  }
  
  .content2{
    color: #fff;
  }

  .content2 h6{
    font-size: 13px;
  }

  .content2 p{
    color: rgb(255,255,255,0.7);
    font-size: 11px;
    font-weight: 500;
  }

  
  .menu-container {
    flex:6;
  }
  
  .menu-list {
    display: flex;
    list-style: none;
  }
  

  .menu-list-item {
    margin-right: 35px;
  }

  .left-menu-icon:hover , a:hover, .profile-text-container:hover{
    color:#AA14F0;
    cursor: pointer;
  }

  .profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .profile-text-container {
    margin: 0 20px;
  }
  
  .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
    justify-content: space-around;
  }

  .left-menu-icon{
    color: white;
    font-size: 20px;
    margin: 0 0 60px 10px;
  }
  
  .container {
    background-color: #151515;
    min-height:calc(100vh - 50px);
    color: white;
  } 

  .content-container {
    padding-left: 50px;
  }

  .img-background-container {
    height: 50vh;
    background-color: blueviolet;
  }

  .movie-list-container {
    padding: 20px;
  }

  .movie-list-wrapper{
    position: relative;
    overflow: hidden; 
  }

  .movie-list {
    display:flex ;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
  }

  .movie-list-item {
    padding-right: 30px;
    position: relative;
  }

  .movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
  }

  .movie-list-item:hover .movie-list-item-title,
  .movie-list-item:hover .movie-list-item-descr {
    opacity: 1;
  }

  .movie-list-item-img {
    width: 280px;
    height: 210px;
    object-fit: cover;
    transition: all 1s ease-in-out;
    border-radius: 20px;
  }

  .movie-list-item-title {
    background-color: #333;
    padding: 0 5px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 8%;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
    border-radius: 20px;
  }

  .movie-list-item-descr {
    background-color: #333;
    padding: 8 px;
    font-size: 12px;
    position: absolute;
    top: 25%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: all 1s ease-in-out;
    border-radius: 20px;
  }

  .movie-list-item-button{
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 40px;
  }

  .arrow{
    font-size: 100px;
    position: absolute;
    top: 90px;
    right: 0;
    color: gray;
    opacity: 0.5;
    cursor: pointer;
  }
  .arrow:hover{
    color:#AA14F0;
    opacity: 0.7;
   }
   
  a{
    color: white;
    text-decoration: none;
  }

 /* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}  

.rating{
  color: rgb(206, 206, 59);
  cursor: pointer;
  margin: 20px 0 0 10px;
}