body{
    background-color: #000000;
  }

.login-page{
    width: 360px;
    padding: 3% 0 0;
    margin: auto;
  }
  
  .form{
    position: relative;
    z-index: 1;
    background-color: #AA14F0;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 42px;
    border: 5px outset #38094e;
  }
  
  .form input{
    font-family: "Roboto", sans-serif;
    background: #d2b7df;
    width: 220px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 42px;
    transition: all .2s ease-in-out;
    text-align: center;
  }
  
  .form button{
    font-weight: "Roboto",sans-serif;
    text-transform: uppercase;
    background: rgb(187, 227, 232);
    width: 50%;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 15px;
  }
  
  h2{
    color: #d2b7df;
    font-family: "Roboto",sans-serif;
    text-align: center;
  }
  
  h3{
    color: #000000;
    font-family: "Roboto",sans-serif;
    text-align: center;
  }

  a{
    color: #38094e;
  }

  .form input:focus{
    width: 260px;
    border-color: aqua;
    transition: all .2s ease-in-out;
  }

  